form .Account{

    color: rgb(11, 49, 20);
    position: center;
}

form .Account input[type = "file"] {

    background-color: none;
    margin-top: 10px;

}

form .Account h4 {
    margin-bottom: 10px;
}

form .Account .formGroup {

    display: block;
    width: 300px;
    margin-bottom: 15px;

}

form .Account .formGroup label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.4ms;
}

form .Account .coverGroup textarea{

    display: block;
    height: 120px;
    width: 130%;
    padding: 10px 15px;
    background-color: rgb(168, 238, 215);
    box-sizing: border-box;
    border-radius: 8px;
    border-color: none;
    transition: 0.4ms;
    resize: none;
    border: none;
    outline: none;
}

form .Account .coverGroup textarea:focus{

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .Account .formGroup input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(168, 238, 215);
    border-radius: 8px;
    transition: 0.4ms;
}

form .Account .formGroup input:focus{

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .Account input[type = "submit"] {

    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
}

form .Account input[type = "submit"]:hover {

    background-position: 100% 0%;
}