.card {
    position: relative;
    background-color: white;
    width: 650px;
    padding: 15px;
    max-width: 85vw;
    height: 70vh;
    box-shadow: 0px 20px 50px 0px grey;
    border-radius: 30px;
    background-size: 100% 100%;
    background-position: center;
    
  }
  
  .tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color:linear-gradient (aquamarine, rgb(223, 184, 140));
  }
  
  .swipe {
    position: absolute;
  }
  
  .card h2 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: black;
  }
 
  