@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.app {
  background: linear-gradient(aquamarine, rgb(223, 184, 140));
}

.cards,.account{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
 
  
}