
p {
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
  }
    .label {
      display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .input[type=text],[type=password] {
      margin: 0 0 10px;
      color:black;
      background-color: #fff;
      border-color: #ccc;
      border-width: 1px;
      border-style: solid;
      border-radius: 0;
      width: 100%;
      max-width: 300px;
      font-size: 14px;
      padding: 6px 10px;
      box-sizing: border-box;
      outline: none;
      font-weight: 400;
      box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
      height: 32px;
      line-height: 1.3; 
    }

    .input[type=submit]{
      background-color: rgb(179, 116, 0);
      color: white;
      padding: 10px;
      border: none;
      border-radius: 3px;
      margin: 10px 10px 0 0;
      cursor: pointer;
    }

    .App {
      background: linear-gradient(aquamarine, rgb(223, 184, 140));
      height: 100vh;
      padding-top: 100px;
      display:inline-block;
      text-align:center;
    }
    
    .App > .Content {
      display: table;
      margin: 0 auto;
      padding: 50px 10px;
      width: 100%;
      max-width: 900px;
      align-items: center;
      justify-content: center;
    }
    
    .App h2 {
      color:rgb(11, 49, 20);
      font-size: 30px;
      font-weight: bold;
      padding: 0;
      align-items: center;
      justify-content: center;
    }

    .App h1{
      color:rgb(11, 49, 20);
      font-size: 30px;
      font-weight: bold;
      padding: 0;
      align-items: center;
      justify-content: center;
    }

    .Next {
      background-color: green;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 3px;
      margin: 10px 10px 0 0;
      cursor: pointer;
    }
    .Next:hover{
      background-color: #37843a;
    }
    .Next:disabled{
      cursor: not-allowed;
      background-color: #7aa07c;
    }
    .Back {
      background-color: orange;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 3px;
      margin: 10px 10px 0 0;
      cursor: pointer;
    }
    .Back:hover{
      background-color: #9e631b;
    }

 .select{
    background-color:  orange; 
    border-style:hidden; 
    border-radius: 3% ;
    padding:0.25em;
    padding-right: 10% ;
    color: rgb(11, 49, 20);
    font-weight: bold;
    size: 10px;
 }